.item {
  flex: 1 0 21%;
}

.item h3 {
  margin: 0;
  font-size: 1.25rem;
  color: #023047
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  border-radius: 30px;
  padding: 0.15rem 1.5rem;
  background-color: #219EBC;
  color: white;
  font-size: 1.5rem;
}

.item p {
  color: #023047;
}

.actions {
  display: flex;
  justify-content: flex-end;
}